<header class="desk">
    <div class="container-fluid">
      <div class="row head">

        <img class="col-3 logo" src="./images/protec-logo-blanco.png" alt="">

        <div class="col-12" style="display: flex;justify-content: center;align-items: center;">
          <div class="col-6 nav">
              <a href="" class="col 1 sec">INICIO</a>
              <a href="" class="col 1 sec">NOSOTROS</a>
              <a href="" class="col 1 sec">SERVICIOS</a>
              <a href="" class="col 1 sec">SOLUCIONES</a>
              <a href="" class="col 1 sec">CONTACTO</a>
          </div>
        </div>

      </div>
    </div>
  </header>


  <header class="mobile">
    <div class="container-fluid">
      <div class="row" style="display: flex;justify-content: start;align-items: center;height: 71px;">

        <div class="col-2 head">
          <i class="fas fa-bars"></i>
        </div>

        <img class="col-8 logo" src="./images/protec-logo-blanco.png" alt="">

      </div>
    </div>

    
  </header>
  <nav class="mobile cerrado">
    <div class="container-fluid">
      <div class="row" style="display: flex;justify-content: center;align-items: center;">

        <ul class="navbarUl col-5">
            <li><a class="link" href=""> Inicio </a></li>
          
            <li><a class="link" href=""> Nosotros </a></li>
          
            <li><a class="link" href=""> Servicios </a></li>
          
            <li><a class="link" href=""> Soluciones </a></li>
      
            <li><a class="link" href=""> Contacto </a></li>
        </ul>

      </div>
    </div>
  </nav>
  