<header class="desk">
    <div class="container-fluid">
      <div class="row head">

        <div class="col-12 logo">
          Logo
        </div>

        <div class="col-8 nav">
            <a href="" class="col 1 sec">Homepage</a>
            <a href="" class="col 1 sec">About</a>
            <a href="" class="col 1 sec">Pages</a>
            <a href="" class="col 1 sec">Services</a>
            <a href="" class="col 1 sec">Career</a>
            <a href="" class="col 1 sec">Blog</a>
            <a href="" class="col 1 sec">Contact us</a>
            <a href="" class="col 1 sec"><i class="fas fa-search"></i></a>
        </div>

      </div>
    </div>
  </header>


  <header class="mobile">
    <div class="container-fluid">
      <div class="row" style="display: flex;justify-content: start;align-items: center;">

        <div class="col-2 head">
          <i class="fas fa-bars"></i>
        </div>

        <div class="col-8 logo">
          Logo
        </div>

      </div>
    </div>
  </header>
  <nav class="mobile cerrado">
    <div class="container-fluid">
      <div class="row" style="display: flex;justify-content: center;align-items: center;">

        <ul class="navbarUl col-5">
            <li><a class="link" href=""> Inicio </a></li>
          
            <li><a class="link" href=""> Tratamientos </a></li>
          
          
            <li><a class="link" href=""> Profesionales </a></li>
          
            <li><a class="link" href=""> Nosotros </a></li>
      
            <li><a class="link" href=""> Actividades </a></li>
          
          
            <li><a class="link" href="">Contacto </a></li>
        </ul>

      </div>
    </div>
  </nav>
  